.contact-card{
    padding-left: 20%;  
    
    &__title{
        font-weight: 100;
    }
    
    @mixin laptop{
      padding-top: 25%;
      &_text-right{
        text-align: right;
      }
    }
}