.text-content{
    font-weight: 100;
    color: $mainGold;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: 'Poiret One', cursive;
    text-align: justify;
    float: left;
    margin: 0;

    &--testimonial{
        padding: 1rem 2rem;
        font-size: 1.2rem;
        
    }
   
}